.button-code {
  color: red;
}

.vision-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  color: #fff;
  font-size: 3rem;
}

.background-container {
  width: 90%;
  height: auto;
  padding: 0 0 0 50px;
  scroll-behavior: smooth;
  display: flex;
  margin: auto;
  box-sizing: border-box;
  color: red;
}
