.viz-style-table {
  border-collapse: collapse;
  font-style: italic;
  font-size: 0.5em;
  font-family: sans-serif;
  min-width: 335px;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.viz-style-table tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.viz-style-table tr:hover {
  background-color: #988b00;
  color: #ffffff;
  text-align: left;
}

.viz-style-table th,
.viz-style-table td {
  padding: 12px 15px;
}

.viz-style-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.viz-style-table tbody tr:nth-of-type(even) {
  background-color: #e60000;
}
.viz-style-table tbody tr:nth-of-type(even):hover {
  background-color: #db00e6;
}

.viz-style-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.viz-style-table tbody tr.active-row {
  font-weight: bold;
  color: #989300;
}
